@media (max-width: 1100px) { 
    .stack {
        width: 33%;
    }

    .stack-header {
        font-size: 88%;
    }

    .btn-add {
        padding: 3px 6px;
    }

    .btn-add i {
        margin-left: 0;
    }

    .stack-header span {
        margin-left: 0;
    }
}

@media (max-width: 880px) { 
    body {
        font-size: 80%;
    }

    header {
        padding-left: 0.5em;
    }

    .stack {
        width: 33%;
        margin: 0 0.5em;
    }

    .stack-header {
        font-size: 76%;
    }

    .stack-header span {
        margin-left: 0;
    }

    .task {
        min-height: 10em;
        border-radius: 3px;
        margin: 5px;
        padding: 8px;
    }    

    .btn-add {
        padding: 2px 4px;
    }

    .btn-add i {
        margin-left: 0;
    }
}